:root {
  --claro: #eee;
  --ocuro: #262626;
  --color: #f44336;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--claro);
  background-color: var(--ocuro);
  min-height: 100vh;
}
.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--color);
}
button.icono,
button.icono > img {
  width: 1.7rem;
  height: 1.7rem;
}
button.icono {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
button.icono:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px black);
}
.ventana {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-size: cover;
}

/* infoAlbum */
#info {
  display: none;
  background-size: cover;
}
#info .container {
  background-color: var(--claro);
  color: var(--ocuro);
  padding: 1rem;
  box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.3);
  line-height: 1.4;
  letter-spacing: 0.086em;
  font-weight: 300;
  border-radius: 2px;
  text-align: center;
}
#info button {
  border: none;
  background-color: var(--color);
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
  color: var(--claro);
  font-weight: 600;
  border-radius: 2px;
  text-transform: uppercase;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#info button:active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* Slider */
#slider {
  --fotografo: "";
  display: none;
  height: 100vh;
  place-content: center;
}
#slider::before {
  content: var(--fotografo);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.3rem;
  font-size: 12px;
}
#imagen {
  max-width: 100%;
  max-height: 100vh;
}
#slider .controles {
  display: flex;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 1rem;
  border-radius: 3px;
  margin: 0.5rem 0;
  opacity: 0.3;
  transition: opacity 500ms linear;
}
#slider .controles:hover {
  opacity: 1;
}
#slider .controles button {
  margin: 0 1rem;
}
#slider .opciones {
  display: none;
}
#slider .opciones.active {
  display: block;
}

#galeria {
  display: none;
  margin: 1rem;
}
#galeria .opciones {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
}
#galeria .container {
  text-align: center;
}
#galeria .container > img {
  margin: 1rem;
  max-width: 400px;
  cursor: pointer;
}
/*
@media all and (min-width: 768px) {
  #galeria {
  }
}
@media all and (min-width: 1024px) {
  #galeria {
  }
}
@media all and (min-width: 1025px) {
  #galeria {
  }
}
*/
